body {
  background-color: #fff;
  font-family: "Assistant", sans-serif;
  color: #071C4D;
}

.navbar-brand img {
  max-height: 40px;
}

.btn-navbar-right {
  margin-top: -10px !important;
  height: 70px;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  border-radius: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #071C4D;
}
.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071C4D !important;
}

.btn-login {
  background-color: #071C4D;
  color: #fff;
}
.btn-login:hover {
  color: #fff;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("../images/header.jpg");
  background-size: cover;
}
header h1,
header p {
  color: #fff;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 50px;
}
header p {
  font-size: 22px;
}
header .btn-ayo-mulai {
  background-color: #FF9E53;
  color: #fff;
}
header .btn-ayo-mulai:hover {
  background-color: #ffbf8e;
  color: #fff;
}

.section-popular {
  min-height: 540px;
  background: #051334;
  margin-top: -50px;
  margin-bottom: -330px;
}
.section-popular .section-popular-heading {
  margin-top: 50px;
}
.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #fff;
}
.section-popular .section-popular-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background: #fff;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}
.section-popular-content .section-popular-travel .card-travel .travel-country {
  font-size: 18px;
  color: #fff;
}
.section-popular-content .section-popular-travel .card-travel .travel-location {
  font-size: 26px;
  color: #fff;
}
.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details {
  background-color: #FF9E53;
  color: #fff;
}
.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details:hover {
  color: #fff;
}

.section-testimonial-heading {
  background-color: #E4E6EB;
  padding-top: 50px;
  min-height: 506px;
}
.section-testimonial-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}
.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}
.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}
.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 26px;
  color: #6E6E6E;
  min-height: 160px;
}
.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 26px;
  color: #6E6E6E;
}
.section-testimonial-content .card-testimonial hr {
  margin-left: 20px;
  margin-right: 20px;
}
.section-testimonial-content .btn-get {
  background-color: #FF9E53;
  color: #fff;
}
.section-testimonial-content .btn-get:hover {
  background-color: #ffbf8e;
  color: #fff;
}
.section-testimonial-content .btn-need {
  background-color: #F2F2F2;
  color: #7c7979;
}
.section-testimonial-content .btn-need:hover {
  background-color: #c0bebe;
  color: #fff;
}

.section-footer h5 {
  font-weight: bold;
}
.section-footer a {
  color: #071C4D;
}

.section-details-header {
  min-height: 310px;
  background: #E4E6EB;
  margin-top: -68px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}
.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}
.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071C4D;
}
.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}
.section-details-content .card-details h1 {
  font-size: 26px;
}
.section-details-content .card-details h2 {
  font-size: 20px;
}
.section-details-content .card-details p {
  font-size: 18px;
  color: #b1b1b1;
}
.section-details-content .features {
  margin-top: 20px;
}
.section-details-content .features h3 {
  font-size: 18px;
  color: #071C4D;
  margin-bottom: 0;
}
.section-details-content .features p {
  margin-bottom: 0;
}
.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
  width: auto;
}
.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}/*# sourceMappingURL=main.css.map */