body {
    background-color: #fff;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

// navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    height: 70px;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    border-radius: 0;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;

            &.active {
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-login {
    background-color: #071C4D;
    color: #fff;

    &:hover {
        color: #fff;
    }
}

// Header
header {
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url('../images/header.jpg');
    background-size: cover;

    h1,
    p {
        color: #fff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-ayo-mulai {
        background-color: #FF9E53;
        color: #fff;

        &:hover {
            background-color: #ffbf8e;
            color: #fff;
        }
    }
}

// Populer
.section-popular {
    min-height: 540px;
    background: #051334;
    margin-top: -50px;
    margin-bottom: -330px;

    .section-popular-heading {
        margin-top: 50px;

        h2,
        p {
            color: #fff;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
        }
    }
}

// Popular Content
.section-popular-content {
    .section-popular-travel {

        .card-travel {
            min-height: 380px;
            background: #fff;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;

            .travel-country {
                font-size: 18px;
                color: #fff;
            }

            .travel-location {
                font-size: 26px;
                color: #fff;
            }

            .travel-button {
                .btn-travel-details {
                    background-color: #FF9E53;
                    color: #fff;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

// Tetimonial
.section-testimonial-heading {
    background-color: #E4E6EB;
    padding-top: 50px;
    min-height: 506px;


    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

// Tetimonial content
.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 10px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }

        h3 {
            font-size: 22px;
        }

        .testimonial {
            font-weight: 200;
            font-size: 26px;
            color: #6E6E6E;
            min-height: 160px;
        }

        .trip-to {
            font-weight: normal;
            font-size: 26px;
            color: #6E6E6E;
        }

        hr {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .btn-get {
        background-color: #FF9E53;
        color: #fff;

        &:hover {
            background-color: #ffbf8e;
            color: #fff;
        }
    }

    .btn-need {
        background-color: #F2F2F2;
        color: #7c7979;

        &:hover {
            background-color: #c0bebe;
            color: #fff;
        }
    }
}

// footer
.section-footer {

    h5 {
        font-weight: bold;
    }

    a {
        color: #071C4D;
    }
}

.section-details-header {
    min-height: 310px;
    background: #E4E6EB;
    margin-top: -68px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071C4D;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            color: #b1b1b1;
        }
    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #071C4D;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
            width: auto;
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }
}